@import "tailwindcss";

@theme {
  --color-primary: #00b9eb;
  --color-secondary: #0092ce;
  --color-dark: #333333;
  --color-light: #f8f9fa;

  --font-sans: var(--font-inter);
  --font-heading: var(--font-barlow);
}

/* Default Body Styles */
/* We force light mode to keep the corporate/safety look consistent */
body {
  background-color: white;
  color: var(--color-dark);
  font-family: var(--font-sans);
}